# Типы языков программирования

## Interpreted vs compiled

* Javascript, Python
* Java, C#

## Typed vs Untyped

* Java, Scala, C++
* Python

# Hello world

## Regular execution (e.g. from IDE)

In [3]:
if __name__ == '__main__':
    print("Hello world!")

Hello world!

## Interactive execution (e.g. shell or notebook)

In [3]:
print("Hellow world!")

Hellow world!

# Data Types

* Integer (целое число): 20
* Float (число с плавающей точкой): 20.5
* String (строка): “Mike”
* List (список): [“apple”, “banana”, “cherry”]
* Tuple (кортеж): (“apple”, “banana”, “cherry”)
* Dictionary (словарь): {“name” : “John”, “age” : 36}

## Data types by type

* Text Type: str
* Numeric Types: int, float, complex
* Sequence Types: list, tuple, range
* Mapping Type: dict
* Set Types: set, frozenset
* Boolean Type: bool
* Binary Types: bytes, bytearray, memoryview

# Numeric types

## int

In [3]:
# Shift + Enter

In [2]:
2

2

In [8]:
1

1

In [4]:
print(1)

1

## float/double

In [9]:
2.0

2.0

In [10]:
.5

0.5

## string

In [5]:
"Mike"

'Mike'

In [12]:
'Hello'

'Hello'

## boolean

In [22]:
True

True

In [23]:
False

False

# Verifying the data type with `type()` command

In [4]:
type("Mike")

str

In [49]:
type("Mike")

str

In [6]:
type(250)

int

In [7]:
type(2.33)

float

In [8]:
type(0.3)

float

In [9]:
type(True)

bool

## Bonus - functions in python can accept other functions as arguments

In [54]:
print(type("Hello world"))

<class 'str'>

# Simple operations with numeric types (arithmetic operators)

In [ ]:
# sum

In [13]:
1 + 5

6

In [10]:
print(1+5)

6

In [38]:
# difference

In [27]:
10 - 8

2

In [39]:
# product

In [28]:
2 * 5

10

In [36]:
# taking 2 to the power of 4

In [29]:
2 ** 4

16

In [11]:
print(2**4)

16

In [17]:
# please pay attention that regular devision yields a float and not an int

In [ ]:
# division

In [6]:
6 / 3

2.0

In [37]:
2.5 / 0.4

6.25

In [21]:
# for integer division we need to use // operator

In [20]:
6 // 3

2

In [25]:
# modulo division

In [24]:
10 % 5

0

In [26]:
10 % 6

4

In [7]:
print(5+1)

6

##  Практические задания

### Напечатайте (используя команду `print()`) сумму чисел 10 и 20

In [40]:
print(10 + 20)

30

### Напечатайте (используя команду `print()`) разность чисел 17  и 14

In [42]:
print(17 - 14)

3

###  Напечатайте (используя команду `print()`) произведение чисел 4 и 5

In [43]:
print(4 * 5)

20

### Бонусное задание: напечатайте (используя команду `print()`) 2 в 5-й степени

In [44]:
print(2 ** 5)

32

### Напечатайте (используя команду `print()`) частное чисел 19.5 и 3.2

In [45]:
print(19.5 / 3.2)

6.09375

### Напечатайте (используя команду `print()`) результат целочисленного деления 19 и 3

In [47]:
print(19 // 3)

6

### Напечатайте (используя команду `print()`) остаток от деления 19 и 3

In [13]:
print(19 % 3)

1

# Operations with strings

##  Adding up

In [14]:
"Vanya" + "Misha"

'VanyaMisha'

In [59]:
"a" + 2

TypeError: can only concatenate str (not "int") to str

In [63]:
type("a")

str

In [64]:
type(2)

int

In [ ]:
#What will happend if we add "2" (as string) to "a"

In [15]:
"a" + "2"

'a2'

## Subtracting

In [57]:
"abc" - "c"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

## Multiplying

In [58]:
"a" * "b"

TypeError: can't multiply sequence by non-int of type 'str'

In [9]:
print("Sonya" * 2)

SonyaSonya

## Dividing

In [61]:
"abc" / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [62]:
"abc" / "c"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

## Практические задания

### Напечатайте результат сложения строк "abc" и "d"

In [66]:
print("abc" + "d")

abcd

### Напечатайте строку "abc" повторенную 4 раза

In [68]:
print("abc" * 4)

abcabcabcabc

# Приведение к типу данных

## Приведение к типу данных str

In [69]:
str(2)

'2'

In [70]:
type(str(2))

str

## Приведение к типу данных int

In [71]:
int("2")

2

In [72]:
type(int("2"))

int

In [73]:
int("a")

ValueError: invalid literal for int() with base 10: 'a'

## Приведение к типу данных float

In [74]:
float(2)

2.0

In [17]:
float("2.44")

2.44

In [76]:
float("a")

ValueError: could not convert string to float: 'a'

In [20]:
"pi = " + str(3.14)

'pi = 3.14'

In [21]:
"pi = " + "3.14"

'pi = 3.14'

In [11]:
"pi =" + 3.14

TypeError: can only concatenate str (not "float") to str

## Практические задания

### Бонусное задание. Попробуйте напечатать результат "сложения" строки "pi=" и числа 3.14. Подумайте, что нужно сделать с числом, чтобы питон не выдал сообщения об ошибке.

In [12]:
print("pi=" + str(3.14))

pi=3.14

# String indexing / slicing

In [80]:
"ab2#$%cd"[0] #getting the first symbol

'a'

In [81]:
"abcd"[1] #getting the second symbol

'b'

In [83]:
"abcd"[1:] #getting all symbols starting from X

'bcd'

In [85]:
"abcdef"[1:4] #getting all symbols from x to y (not including y)

'bcd'

In [87]:
"abcdef"[:3] #getting all symbols up to x (not including x)

'abc'

In [90]:
"abcdef"[-1] #getting the symbol at position x from the end

'f'

In [91]:
"abcdef"[-2] #getting the symbol at position x from the end

'e'

In [94]:
"abcdef"[-2:] #getting all symbols starting from x position from the end up to the end

'ef'

In [95]:
"abcdef"[:-2] #getting all symbols up to the x starting from the end

'abcd'

## Практические задания

### В строке "University" напечатайте с 4 по 6 включительно символы

In [1]:
print("University"[4:7])

ers

### В строке "University" напечатайте все символы со второго с конца и до конца

In [2]:
print("Universtity"[-2:])

ty

### Напечатайте "сумму", которая получится, если взять три первых символа в слове "Help" и второй и третий символы в слове "alone"

# Variables

## Mutable vs immutable

In [19]:
a = 1 #the = operator is used for assignment, not to check equality. For equality we use ==
print(a)

1

In [20]:
b = 2.5
print(b)

2.5

In [21]:
c = "test"
print(c)

test

In [22]:
id(a)

4361115856

In [23]:
id(b)

4396123024

In [24]:
id(c)

4365001264

In [25]:
d = 5
print(id(d))
d = 6
print(id(d))

4361115984
4361116016

In [14]:
d = 50
print(id(d))
for _ in range(10):
    d -= 1
    print(id(d))

4504866544
4504866512
4504866480
4504866448
4504866416
4504866384
4504866352
4504866320
4504866288
4504866256
4504866224

# Learning how to pass input using the `input()` statement

In [15]:
a = input()

фвавававав

In [16]:
print(a)

фвавававав

In [17]:
print("Hello", a)

Hello фвавававав

In [6]:
b = input()

5

In [7]:
type(b)

str

In [8]:
print(b)

5

In [9]:
c = input()

6

In [10]:
type(c)

str

In [11]:
b+c

'56'

In [36]:
#what will happen if we add b and c? b + c

In [ ]:
print(b + c)

In [ ]:
print("Hello", name)

## Практические задания

### Используя функцию `input()`, передайте ваше имя в переменную name. Напечатайте "Hello" и значение в переменной name

In [18]:
dddeeeff = input()

Mike

In [19]:
print("Hello", dddeeeff)

Hello Mike

In [38]:
name = input()
print("Hello", name)

Mike
Hello Mike

### Используя функцию `input()`, запишите свой возраст в переменную age. Напечатайте "My age =" и значение в переменной age

In [40]:
age = input()
print("My age =", age)

44
My age = 44

### Передайте сегодняшнее число в переменную date используя формат dd/mm/yyyy (день, месяц, год) и напечатайте "Today =" и значение переменной date

In [42]:
date = input()
print("Today =", date)

12/03/2022
Today = 12/03/2022

### Бонусное задание.  Запишите в переменную num_1 какое-то положительное целое число от 1 до 10, запишите в переменную num_2 какое-то другое целое положительное число от 1 до 10. Напечатайте сумму этих чисел.

In [13]:
type(int("5"))

int

наша_переменная = input()
for элемент in наша_переменная:
    какая-то наша логика

In [43]:
num_1 = input()
num_2 = input()
print(int(num_1) + int(num_2))

5
6
11

In [3]:
print("Help"[:3] + "alone"[1:3])

Hello